:root {
    --logoSize: 300px;
    --logoAccent: #d91a61;
    --logoColor: #161616;
}

.loadingLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.loadingText {
    margin-left: 5%;
    width: fit-content;
    text-align: center;
}
.loadingText h1 {
    font-weight: var(--font-weight-header);
    font-size: 100px;
    margin: 0;
    margin-bottom: 2%;
}
.loadingText h2 {
    font-weight: var(--font-weight-header);
    font-size: 30px;
    margin: 0;
    color: rgb(82, 82, 82);
}
.logoOuter {
    position: relative;
}
.logoOuter .logoOuterCircle {
    height: var(--logoSize);
    width: var(--logoSize);
    background-color: var(--logoColor);
    border-radius: 100%;
    transform: rotate(0);
    animation: loadingCircle 2.7s ease-in-out reverse;
}
.logoOuter .logoInner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.logoOuter .logoInnerCircle {
    height: calc(var(--logoSize) / 1.53846153846153846154);
    width: calc(var(--logoSize) / 1.53846153846153846154);
    background-color: var(--logoAccent);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.logoOuter .logoInnerCircle .logoInnerMouth {
    width: 150%;
    height: 150%;
    background-image: url(../misc/logo/mouth3.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logoOuter .logoInnerCutout {
    height: calc(var(--logoSize) / 2);
    width: calc(var(--logoSize) / 2);
    background-color: var(--background);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
@-webkit-keyframes loadingCircle {
    0% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes loadingCircle {
    0% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}