:root {
    --font-weight-header: bold;
}

@font-face {
    font-family: Montserrat;
    src: url(../misc/font/montserrat/Montserrat-Bold.woff),
    url(../misc/font/montserrat/Montserrat-Bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url(../misc/font/montserrat/Montserrat-Regular.woff),
    url(../misc/font/montserrat/Montserrat-Regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url(../misc/font/firacode/FiraCode-Regular.woff),
    url(../misc/font/firacode/FiraCode-Regular.woff2);
    font-weight: normal;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    background-color: var(--background);
    margin: 0;
    color: var(--textMain);
    overflow-x: hidden;
    /* Font rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 200ms;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    border-bottom: 3px solid var(--textMain);
}

.scrollInfo {
    position: absolute;
    bottom: 2%;
    font-size: 30px;
    font-weight: var(--font-weight-header);
    opacity: 0;
    transform: translateY(50px);
    animation: scrollInfoIn 200ms ease-in-out 2.7s;
    animation-fill-mode: forwards;
}

section {
    box-sizing: unset;
    padding: 2% 2% 0 2%;
    height: calc(120vh - 90px);
}

content {
    display: block;
}

content h1 {
    margin-top: 0;
    font-size: 40px;
    font-weight: var(--font-weight-header);
    text-align: center;
}

section#test1 {
    background-color: #7289da;
    color: white;
}

.settings {
    position: absolute;
    background-color: #212121;
    height: 50px;
    width: 400px;
    top: 2%;
    right: 0;
    transform: translateX(400px);
    transition: transform 200ms;
}

.settings.visible {
    transform: translateX(250px);
}

.settings .settingsHandle {
    width: 0;
}

.settings .settingsHandle::before {
    height: 50px;
    font-size: 40px;
    line-height: 15px;
    border-radius: 10px 0 0 10px;
    position: relative;
    right: 40px;
    width: 40px;
    content: "•";
    color: var(--background);
    background-color: var(--textMain);
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: line-height 500ms;
    overflow: hidden;
}

.settings.visible .settingsHandle::before {
    line-height: 70px;
}

.settings .settingsContent {
    position: absolute;
    top: 0;
    margin-left: 10px;
}

.settings .settingsContent p {
    margin-bottom: 15px;
    margin-left: 4px;
    color: white;
}

@-webkit-keyframes scrollInfoIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scrollInfoIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}