body, html {
    background: #111111;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 8px;
    margin-left: 10px;

}
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.card {
    background: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.container {
    padding: 0 16px;
    color: #0069c0;
    background: #222222;
    border-radius: 10px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    background: #222222;
    border-radius: 10px;
}
.title {
    color: #0069c0;
    background: #222222;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #111111;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
}
.button:hover {
    background-color: #555;
}
.boxMA {
    margin: auto;
    width: 50%;
    border: 3px solid #2b0080;
    padding: 10px;
    text-align: center;
}
.boxDE {
    margin: auto;
    width: 50%;
    border: 3px solid #4f0000;
    padding: 10px;
    text-align: center;
}
.boxMO {
    margin: auto;
    width: 50%;
    border: 3px solid #6ba200;
    padding: 10px;
    text-align: center;
}
.boxTEST {
    margin: auto;
    width: 50%;
    border: 3px solid #703800;
    padding: 10px;
    text-align: center;
}
.info-text {
    font-size: xx-large;
    color: #0069c0;
}
a {
    color: #0069c0;
    text-decoration: none;
}

.PFP {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #000;
    width: 100%;
    height: auto;
    background-image: url('https://thehighcrew.net/misc/img/jeremy.png');
    background-size: cover;
}